name: trigger

on:
  repository_dispatch:
    types:
      - deal-stage-changed

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello
        run: echo "Hello, I've been triggered by a webhook!"
      - name: Payload
        run: echo "Here's the JSON payload ${{ github.event.client_payload }}"
